<section class="col-md-12 contact-section">
    <h2 class="contact-heading">Contact Info</h2>
    <div class="info-wrapper">
        <div class="col-12 d-flex flex-row info-container">
            <i class="fa fa-map-marker"></i>
            <div class="location">Wolsztyn, Poland</div>
        </div>
        <div class="col-12 info-container">
            <i class="fa fa-envelope"></i>
            <a href="mailto:mateuszweszka@gmail.com">mateuszweszka<span class="font-weight-bold">@</span>gmail.com</a>
        </div>
        <div class="col-12 info-container">
            <i class="fa fa-linkedin"></i>
            <a href="https://linkedin.com/in/mateusz-weszka">linkedin.com/in/mateusz-weszka</a>
        </div>
        <div class="col-12 info-container">
            <i class="fa fa-github"></i>
            <a href="#">github.com/mateuszweszka</a>
        </div>
    </div>
</section>
