<section class="portfolio-projects container">
    <h2 class="section-portfolio-heading">
        Projects
    </h2>
    <article class="project">
        <h1 class="project-heading">Klient HTTP</h1>
        <div class="d-flex justify-content-center">
            <a href="#" class="project-link">view project<i class="fa fa-external-link"></i></a>
        </div>
        <p class="project-description">
            Zaprojektowałem i zaimplementowałem klient HTTP, który pozwala na łatwe wysyłanie żądań HTTP.
            Został użyty interfejs PSR-7 do zadań, odpowiedzi oraz strumieni, co pozwala na łatwą integracje z innymi bibliotekami, które także używają PSR-7.
            System middleware pozwala na modyfikacje i kompozycje zachowania klienta.
            Domyślnie jako transport został użyty Curl, jednakże istnieje możliwość łatwej zmiany, poprzez zaimplementowanie odpowiedniego interfejsu.
        </p>
    </article>
    <article class="project">
        <h1 class="project-heading">Sklep Biozakatek.pl</h1>
        <div class="d-flex justify-content-center">
            <a href="#" class="project-link">view project<i class="fa fa-external-link"></i></a>
        </div>
        <p class="project-description">
            Stworzyłem sklep internetowy, podpiąłem gotowy szablon graficzny, do instalacji wtyczek oraz ich modyfikacji zostało użyte oprogramowanie Prestashop w wersji 1.5.
        </p>
    </article>
    <article class="project">
        <h1 class="project-heading">Język Brainfuck</h1>
        <div class="d-flex justify-content-center">
            <a href="#" class="project-link">view project<i class="fa fa-external-link"></i></a>
        </div>
        <p class="project-description">
            Interpreter języka programowania Brainfuck w PHP. Lexera czyta kod jako string i zwraca tablice z tokenami,
            następnie Parser generuje drzewo wyprowadzenia, a przeanalizowane fragmenty wykonuje Interpreter.
        </p>
    </article>
    <article class="project">
        <h1 class="project-heading">Arbitraż</h1>
        <div class="d-flex justify-content-center">
            <a href="#" class="project-link">view project<i class="fa fa-external-link"></i></a>
        </div>
        <p class="project-description">
            Celem programu jest obliczenie różnicy wahań kursów kryptowalut między giełdami co określony interwał.
            Program łączy się między innymi z takimi giełdami jak binance,
            bittrex i zwraca różnice między wspólnymi kryptowalutami.
            Program powstał w celu ułatwienia handlowania na giełdzie.
        </p>
    </article>
    <article class="project">
        <h1 class="project-heading">Api zakładu fryzjerskiego</h1>
        <div class="d-flex justify-content-center">
            <a href="#" class="project-link">view project<i class="fa fa-external-link"></i></a>
        </div>
        <p class="project-description">
            Program ma za zadanie umożliwić zarządzanie oraz rezerwacje wizyty w zakładzie fryzjerskim,
            jedną z istotnych możliwości programu jest wysyłka przypomnienia, o umówionej wizycie do klienta w formie wiadomości SMS,
            komunikacja odbywa się poprzez API, program napisano przy użyciu frameworka Api Platform.
        </p>
    </article>
</section>